<header>
    <nav class="bg-navy-400 px-2 lg:px-4 py-2.5 h-18">
        <div class="flex flex-wrap justify-between items-center max-w-screen">
            <a href="/" class="flex items-center">
                <img src="../../../assets/FriendlyChatLogo.png" alt="FriendlyChat" class="mr-3 h-16 sm:h-10 stop-image" />
                <span class="mr-3 self-center text-2xl whitespace-nowrap font-light text-white">
                    Friendly Chat
                </span>
            </a>
            <div class="flex flex-wrap items-end auth" *ngIf="user$ | async as user">
                <div class="flex flex-wrap justify-between text-white">
                    <img class="w-10 h-10 rounded-full" [src]="user?.photoURL"
                        [alt]="user?.displayName" />
                    <span class="text-white text-xl whitespace-nowrap font-light px-4 lg:px-5 py-2 lg:py-2.5">
                        {{user?.displayName}}
                    </span>
                    <div class="dropdown inline-block relative shadow-lg">
                        <button class=" text-gray-700 py-2 px-4 rounded inline-flex items-center font-semibold">
                            <img class="w-8 h-8 rounded-full" src="../../../assets/menu.svg" />
                        </button>
                        <ul class="dropdown-menu absolute hidden text-gray-700 pt-3 w-48 right-2">
                            <li class="bg-white p-4 flex-row">
                                <img class="w-10 h-10 rounded-full" [src]="user?.photoURL"
                                    [alt]="user?.displayName" />
                                <span
                                    class="text-navy-200 text-md whitespace-nowrap px-4 lg:px-5 py-2 lg:py-2.5 mr-6">
                                    {{user?.displayName}}
                                </span>
                            </li>
                            <li class="">
                                <a class="bg-white hover:bg-navy-20 py-3 px-4 block whitespace-no-wrap text-navy-500 font-semibold"
                                    href="/" (click)="this.chatService.logout()">
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </nav>
</header>
