<div class="min-h-screen h-full w-full bg-slate-100 flex min-w-screen">
    <div class="w-[50%] h-full items-center m-auto">
        <img src="../../../assets/WithFirebase.png" class="w-[350px] m-auto" />
    </div>
    <div class="w-[50%] items-center h-full mt-[15%]">
        <div class="mx-auto justify-center mr-28  ml-16">
            <img src="../../../assets/FriendlyChatLogo.png" class="w-[200px] mx-10" />
            <span class="text-navy-600 text-5xl font-light  ">Friendly Chat</span>
        </div>
        <button class="w-[400px] bg-white shadow-md flex flex-wrap mt-12" (click)="this.chatService.login()">
            <img src="../../../assets/Google.png" class="w-8 m-2" />
            <span class="text-slate-700 text-xl m-auto">Sign in with Google</span>
        </button>
    </div>
</div>