.idea/
gen/
.DS_Store
Pods/
Podfile.lock
xcuserdata/
*.xcworkspace/
GoogleService-Info.plist
security-solution/functions/node_modules
security-start/functions/node_modules
.firebaserc
firebase-debug.log
.firebase

*/node_modules/**
security-solution/public/**/*.js
security-start/public/**/*.js
